Repository recallwei/resume-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: adjust size
  src/views/Editor/Layout/index.vue
Due: prettier --write, eslint --fix

chore: add eslint ignore file
  .eslintignore
Due: none

feat: add switch background image
  public/images/wallpaper.jpg
  src/views/Home/index.vue
Due: prettier --write, eslint --fix

chore: esbuild drop console and debugger
  .cspell/custom-words.txt
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update eslint rules
  .eslintrc.js
Due: prettier --write, eslint --fix

chore: update markdownlint rule
  .markdownlint.json
Due: none

chore: update
  .lintstagedrc.json
Due: none

chore: update
  README.md
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,vue}
  eslint --fix: any of: *.{js,ts,vue}
